{% extends './layout.html' %}

{% block title %}{{data.area}} - {{data.title}}{% endblock %}

{% block container %}
<div class="container">
    <div class="container_dashboard">
        <div id="chart_indicadores"></div>
        <div id="chart_pie"></div>
        <div id="chart_bar_TAT_mean"></div>
        <div id="chart_bar_counts"></div>
    </div>
</div>
{% endblock %}

{% block enviarArchivo_script %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var chart_bar_TAT_mean = {{ chart_bar_TAT_mean | safe}}
    var chart_bar_counts = {{ chart_bar_counts | safe }}
    var chart_indicadores = {{ chart_indicadores | safe }}
    var chart_pie = {{ chart_pie | safe }}

    Plotly.plot("chart_bar_counts", chart_bar_counts, {})
    Plotly.plot("chart_bar_TAT_mean", chart_bar_TAT_mean, {})
    Plotly.plot("chart_indicadores", chart_indicadores, {})
    Plotly.plot("chart_pie", chart_pie, {})
</script>
{% endblock %}